<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Test</title>
</head>
<body>
	<div>
		<h1>{{ site.title }}</h1>
		<hr>
		<ol>
			{% for item in site.pages %}
			<!-- {% if item.category == "getting-started" %} -->
			<li class="{% if item.url == page.url %}active{% endif %}">
				<a href="{{ item.url }}">{{ item.title }}</a>
			</li>
			<!-- {% endif %} -->
			{% endfor %}
		</ol>
		<hr>
	</div>
	<div class="content">
		{{ content }}
	</div>
	<div class="footer">
		<hr>
		<h4>Posts:</h4>
		<ul>
			{% for post in site.posts %}
			  <li>
				<a href="{{ post.url }}">{{ post.title }}</a>
			  </li>
			{% endfor %}
		  </ul>
	</div>
</body>
</html>